<header class="logo">
    <img src="../assets/img/240_F_331001452_0dNjMXPuL92VU9yeRYmtOtNpbTPHu4Wk.jpg">
  </header>
  
    
<main>
 <h1>
      {{title}}
    </h1>

 <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 imgleft">
        <div class="bg-tramp">
          <div class="bgwhite">
            <div class="textleft">
              Entre com a quantidade de leitos livres:
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <app-dashboard></app-dashboard>
      </div>
    </div>
  </div>
</main> 
    
