<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Material</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="2:3">
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bolo de Morango</mat-card-title>
      <mat-card-subtitle>Cakes's</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/7657262b0bf6515c81b82b4b8a8daca7.jpg" alt="bolodecafe">
    <mat-card-content>
      <p>
       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis ad laboriosam quidem hic nemo similique inventore esse veritatis reiciendis natus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, a.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon class="mat-iconcard">share</mat-icon>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bolo de Café</mat-card-title>
      <mat-card-subtitle>Cakes's</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/bolo-cortado-em-fatias.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ipsum libero magni tenetur a minus sunt ea deleniti dicta commodi illum ab impedit illo deserunt totam neque soluta explicabo placeat!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon class="mat-iconcard">share</mat-icon>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bolo Trufado</mat-card-title>
      <mat-card-subtitle>Cake's</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/1738588-lindo-pedaco-de-bolo-de-chocolate-grátis-foto.jpg">
    <mat-card-content>
      <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quo quasi accusamus dolore doloribus temporibus cupiditate, deserunt deleniti eos nobis minus reprehenderit. Facilis adipisci beatae unde dignissimos ea repellendus quisquam.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-icon>favorite</mat-icon>
      <mat-icon class="mat-iconcard">share</mat-icon>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>