<h1 class="fs-1 text-center mt-5">Preparando o Ambiente</h1>
<div class="mt-5">
  <p></p>
</div>
<div class="container mt-5">
  <div class="row mr-0">
    <div class="col-sm-12 col-md-6 col-3">
      <h3 class="fs-3">Iniciando</h3>
      <p>O primeiro passo para Iniciar um novo projeto é começando pela preparação do ambiente.</p>
      <p>Você deverá ter em seu computador o Nodejs, caso você não tenha clique no botão para baixar</p>
      <p>Estão disponíveis 2 versões o LTS e Current, o LTS significa que esta é a versão mais estável que receberá
        suporte do time do Node, portanto recomenda-se baixar esta versão. </p>
      <a href="https://nodejs.org/en/" target="_blank" class="btn btn-primary">Nodejs</a>
    </div>
    <div id="node" class="col-sm-12 col-md-6 col-3">
      <img src="/assets/img/node.png" class="img-fluid mb-2">
    </div>
  </div>

  <div class="row mr-0">
    <div class="col-sm-12 col-md-6 col-3 mt-4">
      <img src="/assets/img/angularcli.png" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-6 col-3 mt-5">
      <h3 class="fs-3">Instalações</h3>
      <p>O segundo passo será a feita a instalção do Angular CLI.</p>
      <p>Angular CLI (Command Line Interface - Interface de Linha de Comando) cujo objetivo principal é facilitar o
        gerenciamento de projetos escritos nesse framework.</p>
      <p>Utilizaremos o seguinte comando para instalar:</p>
      <img id="comando" src="/assets/img/comandoangularcli.png">
      <p class="mt-3">Você pode utilizar o comando abaixo para verificar todas as informações sobre a instalação do
        Angular CLI:</p>
      <img src="/assets/img/versao.png" class="mb-3">
    </div>
  </div>

  <div class="row mr-0">
    <div class="col-sm-12 col-md-6 col-3 mt-5">
      <h3 class="fs-3">Finalizando</h3>
      <p>O terceiro e último passo, com todas as devidas instalações feitas podemos iniciar a criação do nosso projeto.
        Para isso utilizaremos o comando abaixo:</p>
      <img src="/assets/img/olamundo.png">

      <p class="mt-3">Depois que ele começar a instalação ele exibirá uma pergunta como a foto ao lado, selecione CSS e depois ele vai fazer a instalação.</p>
    </div>
    <div id="node" class="col-sm-12 col-md-6 col-3 mt-5">
      <img src="/assets/img/css.png" class="img-fluid">
    </div>
  </div>

  <div class="row mr-0">
    <div class="col-sm-12 col-md-6 col-3 mt-4">
      <img src="/assets/img/angularpag.png" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-6 col-3 mt-5">
      <h3 class="fs-3">Projeto Concluído</h3>
      <p>Depois de fazer toda a instalação. Colocaremos o comando abaixo para ele rodar:</p>
      <img src="/assets/img/rodando.png">
      <p class="mt-3">Uma vez a aplicação instalada e rodando colocaremos no nosso navegador o link abaixo, para verificarmos se esta tudo certo.</p>
      <img src="/assets/img/localhost.png">

      <p class="mt-3">Quando o navegador carregar conseguiremos ver igual a página da foto do lado com o foguete do Angular.</p>
      <p>Com o foguete aparecendo..Só temos que comemorar!</p>     
    </div>
  </div>

  <h2 class="mt-5">Parabéns você fez a sua primeira aplicação em Angular!!</h2>
  <img id="congrats" class="rounded mx-auto d-block" src="/assets/img/tumblr_5dd57c2cb2e5801f662bf8c8a7fa91ab_4919f4c5_500.gif">
</div>